/* Page Wrapper Styling */

#page-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

/* Column Left Styling */

.doctor-image {
  width: 35em;
}

@media screen and (max-width: 992px) {
  .doctor-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
  }
}

/* Column Right Styling */

.consultation-h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .consultation-h1 {
    text-align: center;
  }
}

.consultation-text-p {
  font-weight: 500;
  text-align: justify;
}

/* Button Animation */

.try-now-button {
  width: 10em;
  background: linear-gradient(#e66465, #9198e5) !important;
  transition: all 0.5s;
  cursor: pointer;
}

.try-now-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.try-now-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.try-now-button:hover span {
  padding-right: 25px;
}

.try-now-button:hover span:after {
  opacity: 1;
  right: 0;
}

.try-now-button:hover {
  background: rgb(166, 124, 124);
  background: linear-gradient(
    90deg,
    rgba(166, 124, 124, 1) 0%,
    rgba(240, 95, 191, 1) 45%,
    rgba(75, 144, 158, 1) 100%
  ) !important;
}

/* Horizontal Rule Styling */

#hr-premium {
  margin-top: 10%;
}
