/* Title Checkout */

.checkout-page-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  color: #7d9dec;
}

/* Row Card */

.checkout-page-row {
  margin-top: 6%;
}

@media screen and (max-width: 992px) {
  .checkout-page-row {
    margin-top: 5em;
  }
}

/* Card Product */

#card-product {
  box-shadow: 5px 5px 5px #7d9dec;
  border-radius: 9px;
  border-color: #7d9dec;
}

@media screen and (max-width: 992px) {
  .checkout-payment-method {
    margin-top: 2em;
  }
}

.card-product-header {
  border-radius: 8px !important;
}

#card-product-info {
  text-align: center;
}

/* Payment Method Styling */

#checkout-payment-method-selection {
  margin-top: 30px;
}

.checkout-select-option {
  box-shadow: 5px 5px 5px #7d9dec;
}

/* Card Payment Detail */

#payment-detail-card {
  box-shadow: 5px 5px 5px #7d9dec;
  border-color: #7d9dec;
  border-radius: 20px;
  margin-bottom: 30px;
}

#checkout-price {
  text-align: center;
  padding: 30px;
}

.checkout-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-cancel-button:hover {
  background-color: #e65b85 !important;
  border-color: #e65b85 !important;
}
.checkout-checkout-button {
  margin-left: 10px;
  background-color: #7d9dec !important;
  border-color: #7d9dec !important;
}

.checkout-checkout-button:hover {
  background-color: #70dba9 !important;
  border-color: #70dba9 !important;
}
