.psikiater-profile-page-wrapper {
  margin: 4em;
  padding: 8em 1em;
  background-color: #7d9dec !important;
  border-radius: 20px;
}

.psikiater-profile-page-title {
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.psikiater-profile-row-1 {
  margin-top: 30px;
  color: white;
}

.psikiater-profile-col-1 {
  display: flex;
  justify-content: center;
}

.psikiater-profile-avatar {
  height: 280px;
}

.psikiater-profile-col-2 {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .psikiater-profile-col-2 {
    text-align: center;
  }
}

.psikiater-profile-col-3 {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .psikiater-profile-col-3 {
    text-align: center;
  }
}

.psikiater-profile-button-wrapper {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-psikiater-back-button {
  width: 150px;
  margin-right: 10px;
}

.profile-psikiater-back-button:hover {
  background-color: white !important;
  border-color: white !important;
  color: #e65b85 !important;
  width: 150px;
  margin-right: 10px;
}

.profile-psikiater-button-appointment {
  background-color: white !important;
  color: #7d9dec !important;
  border-color: white !important;
}

.profile-psikiater-button-appointment:hover {
  background-color: #e65b85 !important;
  border-color: #e65b85 !important;
  color: white !important;
}
