/* body {
  background-color: #282c34;
} */

.ChatMessage-p {
  max-width: 300px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  font-size: medium;
}

.ChatMessage-date {
  color: gray;
  font-size: x-small;
}

.message {
  display: flex;
  align-items: center;
}

.received {
  flex-direction: row-reverse;
  margin-right: 20px;
}

.sent p {
  color: white;
  background: #a0a5a8;
  align-self: flex-end;
}
.received p {
  background: #0b93f6;
  color: rgb(255, 255, 255);
  flex-direction: row-reverse;
  width: max-content;
  inline-size: max-content;
  height: max-content;
  block-size: max-content;
}

.sticky-bottom {
  /* top: 700px; */
  width: 80%;
  display: flex;
  align-self: center;
  /* height: 10vh; */
  /* margin-bottom: 20px; */
  /* position: fixed; */
}

.bg-style {
  background: antiquewhite;
  border-radius: 15px 15px 0px 0px;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.rounded-full {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 25px;
}
.scroll-chatbox {
  max-height: 500px;
  max-width: 1050px;
  overflow: scroll;
  overflow-x: hidden;
}
