body {
  background-color: #282c34;
}

.ChatMessage-p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  position: relative;
}

.received {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-start;
}
.received p {
  background: #e5e5ea;
  color: black;
}

/* Form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 728px;
  font-size: 1.5rem;
} */

Form {
  width: 75%;
  /* position: fixed; */
  float: left;
}
