.side-bar {
  background-color: #747d8c !important;
  height: 94%;
  // display: flex;
  // flex-direction: column;
  text-align: left;
  padding-left: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold !important;
  color: white;
  .link {
    &:hover {
      text-decoration: none !important;
    }
    color: white;
  }
}

.links:hover {
  text-decoration: none;
  cursor: pointer;
}
