.pending-payment-title {
  text-align: left;
  margin-bottom: 30px;
}

#slip-payment-info {
  color: #fff700;
}

.pending-payment-card {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #7d9dec !important;
  color: white;
  max-width: 23rem;
  box-shadow: 5px 5px 4px black;
  border-color: #7d9dec !important;
  text-align: center;
}

#payment-pending-form-control {
  text-align: center;
}

#payment-pending-button {
  margin-top: 10px;
}

.payment-pending-button-detail {
  margin-right: 5px;
  color: #7d9dec !important;
  background-color: white !important;
  border-color: #7d9dec !important;
  box-shadow: 2px 2px 2px black;
}

.payment-pending-button-detail:hover {
  background-color: #e65b85 !important;
  color: white !important;
}

.payment-pending-button-checkout {
  background-color: #75cfb8 !important;
  border-color: #75cfb8 !important;
  box-shadow: 2px 2px 2px black;
}

.payment-pending-button-checkout:hover {
  background-color: white !important;
  color: #e65b85 !important;
}
