.profile-patient-card-wrapper {
  padding: 40px;
  border-color: #7d9dec !important;
  border-radius: 40px !important;
  box-shadow: 5px 5px 2px #7d9dec;
}

.profile-patient-avatar {
  width: 300px;
}

@media screen and (max-width: 992px) {
  .profile-patient-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-patient-main-column-1 {
    margin: 30px;
  }
}
